@import '../../styles/modules/variables';

//Pudo Collection Point
.pudoNewCollectionPoint {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 9;
}

.pudoNewCollectionPoint__header {
  height: 50px;
  text-align: center;
  background-color: #eaeaea;
}

.pudoNewCollectionPoint__header-text {
  font-size: 16px;
  line-height: 50px;
  color: #555555;
}

//close button
.pudoNewCollectionPoint__close {
  position: absolute;
  right: 20px;
  top: 12px;
  width: 20px;
  height: 20px;
  opacity: 0.8;
}

.pudoNewCollectionPoint__close:hover {
  opacity: 1;
}

.pudoNewCollectionPoint__close:before, .pudoNewCollectionPoint__close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #333;
}

.pudoNewCollectionPoint__close:before {
  transform: rotate(45deg);
}

.pudoNewCollectionPoint__close:after {
  transform: rotate(-45deg);
}

.pudoNewCollectionPoint__body-info-interact {
  padding: 20px 20px 10px 20px;
}

//Pudo body
.pudoNewCollectionPoint__body-info-highlight {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  letter-spacing: 0.2px;
  text-align: left;
  color: #333333;
}

.pudoNewCollectionPoint__body-info-input {
  border-radius: 2px;
  height: 44px;
  width: 94%;
  background-color: #ffffff;
  box-shadow: inset 0 2px 6px 0 rgba(0, 0, 0, 0.06);
  border: solid 1px #dddddd;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.2px;
  text-align: left;
  color: #333333;
  padding: 0 12px;
}

.pudoNewCollectionPoint__body-info-footer {
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: #555555;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  margin-top: 7px;
}

.pudoNewCollectionPoint__body-info-footer-count {
  color: #d00045;
  font-weight: 800;
}

@media (min-width: $media-md) {
  .pudoNewCollectionPoint {
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 15%;
    right: 15%;
  }

  .pudoNewCollectionPoint__body-info-interact {
    width: 220px;
  }
}

@media (min-width: $media-lg) {
  .pudoNewCollectionPoint {
    left: 20%;
    right: 20%;
  }
}

//MAPPPPPP
.pudoNewCollectionPoint__body-map {
  height: 100%;
  width: 100%;
  position: fixed;
}

.pudoNewCollectionPointMarker {
  width: 32px;
  height: 32px;
  background: #d00045;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 1px #555;

  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);

  &.active, &:hover {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
  }
}

.pudoNewCollectionPointMarker:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #d00045;
  bottom: -5px;
  left: 10px;
}

.pudoNewCollectionPointMarker__text {
  line-height: 32px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

@media (min-width: $media-md) {
  .pudoNewCollectionPoint__body-map {
    height: inherit;
    width: inherit;
    position: absolute;
    right: 0;
    top: 50px;
    bottom: 0;
    left: 275px;

  }
}

//Pudo Collection points list
.pudoCollectionPointsList {
  display: none;
  width: 275px;
}

@media (min-width: $media-md) {
  .pudoCollectionPointsList {
    display: block;
  }
}

//Pudo Collection Row
.pudoCollectionPointRow {
  border-top: 1px solid #eeeeee;
  padding: 10px 20px;
  font-size: 14px;

  &.active {
    background: #eee;
  }

  &:last-child {
    border-bottom: 1px solid #eeeeee;
  }

  .pudoNewCollectionPointMarker {
    display: inline-block;
    position: absolute;

    &.active, &:hover {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      -moz-transform: scale(1);
    }
  }
}


.pudoCollectionPointRow__info {
  display: inline-block;
  width: 150px;
  margin-left: 40px;
}

.pudoCollectionPointRow__distance{
  display: inline-block;
}

.pudoCollectionPointRow__info-name {
  text-transform: uppercase;
  font-weight: 800;
}

.pudoCollectionPointRow__distance {
  text-align: right;
  position: absolute;
}

