@import '../../styles/modules/variables';

.pudoAddCollectionPoint {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: beige;
}

.pudoAddCollectionPointPostcode {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.pudoAddCollectionPointPostcode-headerText {
  height: 50px;
  text-align: center;
  font-size: 16px;
}
