.pudo {
  li {
    list-style: none;
  }
  ul {
    padding: 0;
  }

  .PudoSavedAddressText {
    display: inline;
    text-transform: uppercase;
  }

  .PudoSavedAddressText-addressee {
    display: block;
    text-transform: capitalize;
  }
}
