@import '../../styles/modules/variables';

.pudo {
  li {
    list-style: none;
  }
  ul {
    padding: 0;
  }

  .PudoSavedAddressText {
    display: inline;
    text-transform: uppercase;
  }

  .PudoSavedAddressText-addressee {
    display: block;
    text-transform: capitalize;
  }
}

@media (min-width: $media-md) {
  body.pudo-active {
    background-color: #555;
  }
}
